HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### For Maven Builds ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/

.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.sh
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/docs/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/scripts_and_docs/test-registration-example.md
/src/main/java/online/eracodes/secureenrollmentservice/util/GenerateRegistrationRequest.java
/scripts_and_docs/generate_request.py
/scripts_and_docs/request.bin
/scripts_and_docs/QUICK_TEST_GUIDE.md
/scripts_and_docs/create_user.py
/scripts_and_docs/CREATE_USER_GUIDE.md
/scripts_and_docs/generate_registration_code_info.py
/scripts_and_docs/john_request.bin
/scripts_and_docs/
