HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### For Maven Builds ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/

.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.sh
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/docs/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
### Cryptographic Keys ###
data/keys/
*.key
/data/
